/***********************************************************************
 * Bootstrap based styles - SASS variables
 *
 * Moisés Alcocer, 2020
 * https://github.com/oricis/bootstrap-based-styles
 * https://www.ironwoods.es
 */

$black    : rgb(6, 6, 7);
$blue     : rgb(72, 72, 255);
$darkgrey : #161616;
$green    : #29a544;
$grey     : #48484A;
$pink     : #FB9985;
$red      : #f85534;
$white    : white;
$yellow   : rgb(255, 255, 0);

$font-size: 15px;
