/***********************************************************************
 * Bootstrap based styles - SASS variables
 *
 * Moisés Alcocer, 2020
 * https://www.ironwoods.es
 */

$black: rgb(6, 6, 7);
$blue:  #52BA68;
$grey:  #48484A;
$pink:  #FB9985;
$white: white;
$yellow: rgb(240, 240, 30);

$font-size: 15px;
