/***********************************************************************
 * Bootstrap based styles - SASS variables
 * v.1.0.1
 *
 * Moisés Alcocer, 2020
 * https://github.com/oricis/bootstrap-based-styles
 * https://www.ironwoods.es
 */

$black    : rgb(6, 6, 7);
$blue     : #52BA68;
$darkgrey : #161616;
$grey     : #48484A;
$pink     : #FB9985;
$white    : white;
$yellow   : rgb(240, 240, 30);

$font-size: 15px;
